
body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

}

.login-box h2{
    text-align: center;      /
    margin-bottom: 30px;     
    color: #333;             
    font-size: 24px;         
    font-weight: 600;        
}
.login-box{
    
    background-color: white;
    padding : 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 380px;
    display:flex;
    flex-direction: column;
    gap: 15px;

}

h1{
text-align: center;
color: #333;
    font-size: 24px;
}
/* Inputs iyo buttons */
input, button{
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}
/* Button color */
button{
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;   
    font-weight: bold;

}
button:hover{
    background-color: #0056b3;
}
/* Active state for inputs */
input:focus{
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.error{
    border: 2px solid red;
    background-color: #ffe6e6;
    animation: ruxrux 0.3s; 
}
@keyframes ruxrux{
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.input-container {
    position: relative; 
    width: 100%;      
}


.input-container input {
    width: 100%;     
    box-sizing: border-box;
    padding-right: 40px;    
}

#eyeIcon {
    position: absolute;
    right: 15px;      
    top: 50%;        
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;    
    user-select: none; 
}


input::-ms-reveal,
input::-ms-clear {
    display: none;
}
